body {
    background-color: #fff;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: navy;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: black;
}


.questions {
    text-align: center;
}

.questions #mbti_question {
    font-weight: bold;
    width: 55%;
    display: inline-block;
}

.questions_container, .container #emailAddess {
    border: 1px solid #dee2e6;
    border-radius: 0.25em;
    padding: 2em;
}

.questions .form-check-input, .container #emailAddess input {
    border: 2px solid #cdcfd1;
}

.container #emailAddess input {
    background-color: #fff;
    width: 80%;
}

.container #emailAddess label {
    font-weight: bold;
    text-align: center;
}

.questions #rank1-label {
    margin-bottom: 1.2rem;
    color:#ff0000;
    font-weight: bold;
}

.questions #rank7-label {
    margin-bottom: 1.2rem;
    color:#008000;
    font-weight: bold;
}

.mbti-results .dimension {
    background-color: #dee2e6;
}

.mbti-results .dimension-selected {
    background-color:#9932CC;
}

.mbti-results .label {
    color: grey;
    font-weight: bold;
}

.mbti-results .hidden-label {
    display: none   ;
}

.dimension-left-border-radius {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.dimension-right-border-radius {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

@media (max-width:820px)  { 
    .perspective {
        width:20em
    }

    .mbti-results .hidden-label {
        display: inline;
        color: #fff;
    }

    .mbti-results .label {
        display: none;
    }

    .mbti-results .dimension {
        text-align: center;
    }
}