<template>
    <div class="container">
        <transition name="slide-fade">
            <div class="row justify-content-center" v-if="show">
                <div>
                    <h2>Discover Your Perspective</h2>
                    <p>Complete the 7 min test and get a detailed report of your lenses on the world.</p>
                </div>
                <div class="col-md-8">
                    <div class="row" v-for='input in questions' v-bind:key="input.id">
                        <rank-component
                            @rankSelected="updateSelectedRank" 
                            class="questions" 
                            :question="input.question" 
                            :question_id="input.id">
                        </rank-component>
                        <p class="text-danger m-0 text-center" v-show="answerErrors"><small>Please ensure the question is answered</small></p>
                    </div>
                    <div class="row" id="emailAddess">
                        <label for="emailAddress">Your Email</label>
                        <input type="email" v-model="emailAddress" class="form-control mx-auto" id="emailAddress" placeholder="you@example.com">
                        <p class="text-danger m-0 text-center" v-for="error in errors.email_address" v-bind:key="error"><small>{{ error }}</small></p>
                    </div>
                    <div class="row pt-4 mt-4">
                        <button type="button" @click="saveAndContinue" class="btn btn-primary w-25 mx-auto">Save & Continue</button>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                questionsRanks : [],
                questions : [],
                show: false,
                emailAddress: "",
                errors: {},
                answerErrors: false
            }
        },
        created() {
            this.getQuestions();
        },
        methods: {
            hasAnswerError() {
                this.answerErrors = Object.keys(this.errors).length > 0 || Object.keys(this.errors).filter(key => key.includes('answers')).length > 0;
            },
            updateSelectedRank (value) {
                this.questionsRanks[value.question] = value.rank;
            },
            getQuestions() {
                axios.get('/questions')
                     .then((response)=>{
                       this.questions = response.data.questions
                       this.questionsRanks = Array.apply(undefined, Array(_.size(this.questions) + 1));
                       this.show = true;
                     }).catch(error => {
                        swal({
                            title: "Error",
                            text: "An error occured while getting your questions",
                            icon: "error",
                        });
                    });
            },
            saveAndContinue () {
                let errors = [];

                this.questionsRanks.forEach((rank, index) => {
                   if(!rank) errors.push('Question ' + index );
                });

                errors = errors.slice(1);

                if(errors.length > 0) {
                    swal({
                        title: "Responses Required",
                        text: "Please answer the following questions: \n" + errors.join("\n"), 
                        icon: "warning",
                    });

                    return;
                }
                
                if(!this.emailAddress) {
                    swal({
                        title: "Information required",
                        text: "Please provide your email address", 
                        icon: "warning",
                    });

                    return;
                }
               
                axios.put('questions/answers', {
                    email_address: this.emailAddress,
                    answers : this.questionsRanks
                })
                .then((response)=>{
                    if (response.status === 200) {
                        this.show = false;
                        window.location.href = response.data.link;
                        return;
                    }

                    swal({
                        title: "Error",
                        text: "An error occured while submitting your answers",
                        icon: "error",
                    });
                })
                .catch(error => {
                    if (error.response) {
                        this.errors = error.response.data.errors;
                        this.hasAnswerError();
                    }
                });
            }
        }
    }
</script>
