<template>
    <div class="questions_container">
        <div>
            <p id="mbti_question">{{question}}</p>
        </div>
        
        <p class="form-check-inline align-middle" id="rank1-label">Disagree</p>
        <div class="form-check form-check-inline">
            <!-- <label id="rank1-label" for="inlineRadio3">Disagree</label> -->
            <input class="form-check-input" type="radio" @click="onRankSelection" :name="'rank-' + question_id" value="1">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" @click="onRankSelection" :name="'rank-' + question_id" value="2">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" @click="onRankSelection" :name="'rank-' + question_id" value="3">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" @click="onRankSelection" :name="'rank-' + question_id" value="4">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" @click="onRankSelection" :name="'rank-' + question_id" value="5">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" @click="onRankSelection" :name="'rank-' + question_id" value="6">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  @click="onRankSelection" :name="'rank-' + question_id" value="7">
        </div>
        <p class="form-check-inline align-middle" id="rank7-label">Agree</p>
    </div>
</template>

<script>
    export default {
        props: ['question', 'question_id'],
        methods: {
            onRankSelection (event) {
                this.$emit('rankSelected', {
                    rank: event.target.value,
                    question: this.question_id
                });
            }
        }
    }
</script>
