<template>
    <div class="container">
        <transition name="slide-fade">
            <div v-show="show" class="row pt-4 justify-content-center align-items-center border rounded">
                <div class="col-4 perspective">
                    <h1>Your Perspective</h1>
                    <p><strong>Your Perspective Type Is {{perspectiveType}}</strong></p>
                </div>
                <div class="col-6 mbti-results"> 
                    <div class="row">
                        <label class="col-sm label">Introversion (I)</label>
                        <div v-bind:class="introversion" id="introversion-dimension"><span class="hidden-label">Introversion (I)</span></div>
                        <div v-bind:class="extraversion" id="extraversion-dimension"><span class="hidden-label">Extraversion (E)</span></div>
                        <label class="col-sm label float-right">Extraversion(E)</label>
                    </div>
                    <div class="row">
                        <label class="col-sm label">Sensing (S)</label>
                        <div v-bind:class="sensing" id="sensing-dimension"><span class="hidden-label">Sensing (S)</span></div>
                        <div v-bind:class="intuition" id="intuition-dimension"><span class="hidden-label">Intuition (N)</span></div>
                        <label class="col-sm label">Intuition (N)</label>
                    </div>
                    <div class="row">
                        <label class="col-sm label">Thinking (T)</label>
                        <div v-bind:class="thinking" id="thinking-dimension"><span class="hidden-label">Thinking (T)</span></div>
                        <div v-bind:class="feeling" id="feeling-dimension"><span class="hidden-label">Feeling (F)</span></div>
                        <label class="col-sm label">Feeling (F)</label>
                    </div>
                    <div class="row">
                        <label class="col-sm label">Judging (J)</label>
                        <div v-bind:class="judging" id="judging-dimension"><span class="hidden-label">Judging (J)</span></div>
                        <div v-bind:class="perceiving" id="perceiving-dimension"><span class="hidden-label">Perceiving (P)</span></div>
                        <label class="col-sm label">Perceiving (P)</label>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                perspectiveType : '',
                show : false,
                perspetiveComponents : [],
                dimensionLeftSelected : 'col-sm p-2 mb-3 dimension dimension-left-border-radius dimension-selected',
                dimensionRightSelected : 'col-sm p-2 mb-3 dimension dimension-right-border-radius dimension-selected',
                dimensionLeftNotSeleted : 'col-sm p-2 mb-3 dimension dimension-left-border-radius',
                dimensionRightNotSeleted : 'col-sm p-2 mb-3 dimension dimension-right-border-radius'
            }
        },
        computed: {
            introversion: function() {
                return this.perspetiveComponents.includes("I") ? this.dimensionLeftSelected : this.dimensionLeftNotSeleted;
            },
            extraversion: function() {
                return this.perspetiveComponents.includes("E") ? this.dimensionRightSelected : this.dimensionRightNotSeleted;
            },
            sensing: function() {
                return this.perspetiveComponents.includes("S") ? this.dimensionLeftSelected : this.dimensionLeftNotSeleted;
            },
            intuition: function()
            {
                return this.perspetiveComponents.includes("N") ? this.dimensionRightSelected : this.dimensionRightNotSeleted;
            },
            thinking: function()
            {
                return this.perspetiveComponents.includes("T") ? this.dimensionLeftSelected : this.dimensionLeftNotSeleted;
            },
            feeling: function()
            {
                return this.perspetiveComponents.includes("F") ? this.dimensionRightSelected : this.dimensionRightNotSeleted;
            },
            judging: function()
            {
                return this.perspetiveComponents.includes("J") ? this.dimensionLeftSelected : this.dimensionLeftNotSeleted;
            },
            perceiving: function()
            {
                return this.perspetiveComponents.includes("P") ? this.dimensionRightSelected : this.dimensionRightNotSeleted;
            }
        },
        created() {
            this.getResults()
        },
        methods: {
            getResults() {
                axios.get('/results/' + this.user + '/mbti')
                     .then((response)=>{
                        if(response.status === 200) {
                            this.show = true;
                            this.perspectiveType = response.data.summary_title;
                            this.perspetiveComponents = response.data.summary_components;

                            return;
                        }

                        swal({
                            title: "Error",
                            text: "An error occured while retrieving your results",
                            icon: "error",
                        });
                     }).catch(error => {
                         swal({
                            title: "Error",
                            text: "An error occured while getting your questions",
                            icon: "error",
                        });
                    });
            }   
        }
    }
</script>
